body{
	background-color: pink;
}
.container{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	height: 200px;
}
.black{
	background-color: black;
	flex: 1;
}
.red{
	background-color: red;
	flex: 1;
}
.yellow{
	background-color: yellow;
	flex: 1;
}